.containerExperiencesFlex {
  height: 35vh;
  width: auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 15px;
  justify-content: space-around;
  align-items: flex-start;
  background: #ffffff;
  border-radius: 12px;
}
.containerExperiencesFlexTitle {
  height: 5vh;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #4f4f4f;
}
.containerExperiencesFlexListCard {
  display: flex;
  height: 65%;
  gap: 10px 20px;
}
.containerExperiencesFlexCard {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 18vw;
}
.containerExperiencesFlexCardContent {
  height: 100%;
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.containerExperiencesFlexCardContentDate {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #828282;
}
.containerExperiencesFlexCardContentPosition {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
}
.containerExperiencesFlexCardImg img {
  height: 50px;
  width: 50px;
  object-fit: contain;
}
.containerExperiencesFlexCardContentInfo {
  width: 75%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #828282;
}

.containerExperiencesColumn {
  height: auto;
  width: 20vw;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 15px;
  justify-content: space-around;
  align-items: flex-start;
  background: #ffffff;
  border-radius: 12px;
}
.containerExperiencesColumnTitle {
  height: 5vh;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #4f4f4f;
}
.containerExperiencesColumnListCard {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  gap: 20px 20px;
}
.containerExperiencesColumnCard {
  height: 20vh;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 18vw;
}
.containerExperiencesColumnCardContent {
  height: 100%;
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.containerExperiencesColumnCardContentDate {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #828282;
}
.containerExperiencesColumnCardContentPosition {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
}
.containerExperiencesColumnCardImg img {
  height: 50px;
  width: 50px;
  object-fit: contain;
}
.containerExperiencesColumnCardContentInfo {
  width: 100%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #828282;
}
